@model Chartwell.Foundation.Models.ContactUsModel

@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Chartwell.Foundation.utility
@{
  ChartwellUtiles ViewUtil = new ChartwellUtiles();
  var conf = ViewUtil.GetEndUserMessageDetails().Fields["Contact Form Confirmation Message"].Value;
}

@Html.Sitecore().VisitorIdentification()


@if (Model != null && !string.IsNullOrEmpty(Model.FirstName) && !Model.SendEmailError)
{
  <div class="resFormConfirmation">
    @Html.Raw(HttpUtility.HtmlDecode(@conf))
  </div>
}

