@using Sitecore.Mvc

  <div class="container" id="SignupFormAndContent">
    <!-- Modal -->
    <div class="modal" id="emailFormModal" tabindex="-1" role="dialog" aria-labelledby="emailFormModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            @Html.Sitecore().Placeholder("Page.QuestionnaireForm")
          </div>
        </div>
      </div>
    </div>
  </div>
