<div id="SectionsContainer" class="row">
  @Html.Sitecore().Field("IntroSection")
  @Html.Sitecore().Field("MainSection")
  @Html.Sitecore().Field("ClosingSection")
  @Html.Sitecore().Placeholder("Page.FormSection")
</div>