<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <add name="messaging" connectionString="user id=messaginguser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_Messaging" />
  <add name="processing.engine.storage" connectionString="user id=processingengineuser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_ProcessingEngineStorage" />
  <add name="reporting" connectionString="user id=reportinguser;password=!!Chart2014;data source=(local);Initial Catalog=cm92_Reporting" />
  <add name="xdb.marketingautomation" connectionString="user id=marketingautomationuser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_MarketingAutomation" />
  <add name="xdb.processing.pools" connectionString="user id=poolsuser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_Processing.Pools" />
  <add name="xdb.referencedata" connectionString="user id=referencedatauser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_ReferenceData" />
  <add name="collection" connectionString="user id=cm_collectionuser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_Xdb.Collection.ShardMapManager" />

  <add name="solrCore" connectionString="https://solr75:8983/solr/sc92sa_xdb" />
</connectionStrings>