@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Chartwell.Foundation.utility;
@model RenderingModel
@{

    string OpenHouseImage = string.Empty, OpenHouseContent = string.Empty, OpenHouseContentClass = string.Empty, PropertyType = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;

    if ( Sitecore.Context.Item.Parent.Parent.Name == "retirement-residences"){
      ChartwellUtiles GetItem = new ChartwellUtiles();
      PropertyType = GetItem.PropertyType(Sitecore.Context.Language.ToString(), Sitecore.Context.Item.Parent);
    }

    if (rc != null && rc.Rendering.Parameters != null && PropertyType != "LTC")
    {
      var parms = rc.Rendering.Parameters;
      if (parms["isPromoActive"] != null)
      {
        OpenHouseImage = parms["OpenHouseImage"] != null ? "<img src='-/media/" + (parms["OpenHouseImage"].Substring(parms["OpenHouseImage"].IndexOf("{") + 1, (parms["OpenHouseImage"].IndexOf("}") - 1) - parms["OpenHouseImage"].IndexOf("{"))).Replace("-", "") + ".ashx' class='promoImg' alt=''/>" : null;
        OpenHouseContent = parms["OpenHouseContent"];
        OpenHouseContentClass = parms["OpenHouseImage"] != null ? "col-xs-8" : "col-md-push-4 col-xs-12";
      <div class="container-fluid top-banner" id="OpenHousePromo">
        <div class="row">
          @if (OpenHouseImage!=null){
          <div class="content text-right col-xs-4">
            @Html.Raw(@OpenHouseImage)
          </div>
          }
          <div class="content text-left @OpenHouseContentClass col-md-8 ">
            @Html.Raw(@OpenHouseContent)
          </div>
        </div>
      </div>
    }
  }
}
