@Html.Sitecore().Placeholder("Grid.Above")
<div class="container-fluid" id="mainBlock">
  <div class="row border-between">
    <div class="col-sm-12 col-md-8">
      @Html.Sitecore().Placeholder("Grid.Left")
    </div>
    <div class="col-sm-12 col-md-4">
      @Html.Sitecore().Placeholder("Grid.Right")
    </div>
  </div>
  @Html.Sitecore().Placeholder("Grid.Below")
</div>
@Html.Sitecore().Placeholder("Grid.Nearby")