<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- processing.engine.mrs connection string should contain user credentials and address of Microsoft ML Server and have such format "http://username:password@host:port" -->
  <add name="processing.engine.mrs" connectionString="" />
  <add name="processing.engine.storage" connectionString="user id=processingengineuser;password=!!Chart2014;data source=(local);Initial Catalog=sc92sa_ProcessingEngineStorage" />
  <add name="processing.engine.tasks" connectionString="user id=processingengineuser;password=!!Chart2014;data source=(local);Initial Catalog=sc92sa_ProcessingEngineTasks" />
  <add name="processing.webapi.blob" connectionString="https://sc92saxconnect.chartwell.com" />
  <!-- processing.webapi.blob.mrs.certificate connection string should contain path and password for the blob service client authentication certificate.
       Certificate must be in PKCS #12 (.p12/.pfx) format and must be located on the Microsoft Machine Learning Server compute nodes.
       For example: Path=C:\certs\webapiCertificate.pfx;Password=password    
  -->
  <add name="processing.webapi.blob.mrs.certificate" connectionString="Path=;Password=" />
  <!-- processing.webapi.certificate.authority connection string should contain the path to public certificate of certification authority that issued
       the certificate for the blob and table service endpoints. Certificate must be in Base64 encoded format and must be located on the Microsoft Machine Learning Server
       compute nodes.
       For example: C:\certs\webapiCACertificate.cer
  -->
  <add name="processing.webapi.certificate.authority" connectionString="" />
  <add name="processing.webapi.table" connectionString="https://sc92saxconnect.chartwell.com" />
  <!-- processing.webapi.table.mrs.certificate connection string should contain path and password for the table service client authentication certificate.
       Certificate must be in PKCS #12 (.p12/.pfx) format and must be located on the Microsoft Machine Learning Server compute nodes.
       For example: Path=C:\certs\webapiCertificate.pfx;Password=password
  -->
  <add name="processing.webapi.table.mrs.certificate" connectionString="Path=;Password=" />

  <add name="xconnect.collection" connectionString="https://sc92saxconnect.chartwell.com" />
  <!-- <add name="xconnect.collection" connectionString="https://cmxconnect.chartwell.com" /> -->
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />

  <add name="xconnect.configuration" connectionString="https://sc92saxconnect.chartwell.com" />
  <!-- <add name="xconnect.configuration" connectionString="https://cmxconnect.chartwell.com" /> -->

  <add name="xconnect.configuration.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  
  <add name="xconnect.search" connectionString="https://sc92saxconnect.chartwell.com" />
  <!-- <add name="xconnect.search" connectionString="https://cmxconnect.chartwell.com" /> -->

  <add name="xconnect.search.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  
  <!-- <add name="messaging" connectionString="user id=messaginguser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_Messaging" />
  <add name="reporting" connectionString="user id=reportinguser;password=!!Chart2014;data source=(local);Initial Catalog=cm92_Reporting" /> -->

  <add name="messaging" connectionString="user id=messaginguser;password=!!Chart2014;data source=(local);Initial Catalog=sc92sa_Messaging" />
  <add name="reporting" connectionString="user id=reportinguser;password=!!Chart2014;data source=(local);Initial Catalog=sc92sa_Reporting" />

</connectionStrings>