<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="collection" connectionString="user id=cm_collectionuser;password=!!Chart2014;data source=(local);Initial Catalog=sc92sa_Xdb.Collection.ShardMapManager" />
  <!-- <add name="collection" connectionString="user id=cm_collectionuser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_Xdb.Collection.ShardMapManager" />   -->
  <add name="solrCore" connectionString="https://solr75:8983/solr/sc92sa_xdb" />
  <!--<add name="collection.search" connectionString="serviceUrl=https://[service].search.windows.net/;indexName=[index name];apiKey=[API Key]"/>--> 
    
</connectionStrings>