@model  List<Chartwell.Foundation.Models.PropertySearchModel>
@using Sitecore.Mvc.Analytics.Extensions

@Html.Sitecore().VisitorIdentification()

<div class="row">
  <div class="col-md-12">
    @Html.Partial("SearchResults")
  </div>
</div>