@using Sitecore.Mvc.Analytics.Extensions

@Html.Sitecore().VisitorIdentification()

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="well">
  <address>
    <h4 class="text-danger  plum">
      Corporate Office Chartwell
      Retirement Residences
    </h4>
    <h4 class="contact-side">Contact Information</h4>
    <span class="address-sidebar">
      100 Milverton Drive, Suite 700<br>
      Mississauga, Ontario L5R 4H1<br>
      Canada<br>
      <br>
      <abbr class="plum" title="Phone">T:</abbr>&nbsp;905-501-9219<br>
      <abbr class="plum" title="Fax">F:</abbr>&nbsp;905-501-0813<br>
    </span>
  </address>
</div>
