@model Chartwell.Foundation.Models.CorporateContactModel

@using Sitecore.Mvc.Analytics.Extensions

@Html.Sitecore().VisitorIdentification()


@if (Model != null && !string.IsNullOrEmpty(Model.FirstName) && !Model.SendEmailError)
{
  <div>
    <h4><strong>@Model.ContactUsConfirmMsg1</strong></h4>
    <p>@Model.ContactUsConfirmMsg2</p>
    <hr />
    <p><small><em>@Model.ContactUsConfirmMsg3</em></small></p>
  </div>
}
