@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@if (Model.Item.Language.Name =="en")
{
<iframe height="1400" title="Embedded Wufoo Form" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://chartwellreit.wufoo.com/embed/mams7gf0sjeui8/"><a href="https://chartwellreit.wufoo.com/forms/mams7gf0sjeui8/">Fill out my Wufoo form!</a></iframe>
} else {
<iframe height="1400" title="Embedded Wufoo Form" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://chartwellreit.wufoo.com/embed/mcigykv0mj6w1i/"> <a href="https://chartwellreit.wufoo.com/forms/mcigykv0mj6w1i/">Fill out my Wufoo form!</a></iframe>
}



