@using Sitecore.Mvc.Analytics.Extensions

@Html.Sitecore().VisitorIdentification()

<div class="col-md-12">
  <div class="alert alert-success col-md-12" role="alert">
    <span>Reviews and Ratings successfully Added</span>
  </div>
  @*<div class="col-md-4 col-md-offset-4" style="padding-bottom:20px;">
      <button type="submit" class="btn btn-warning" style='width:250px'>Add New Review</button>
    </div>*@
</div>

