<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Chartwell.Foundation.Redirect.RedirectProcessor, Chartwell.Foundation.Redirect"/>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']" type="Chartwell.Foundation.MediaRedirect.MediaRedirectProcessor, Chartwell.Foundation.MediaRedirect"/>
      </httpRequestBegin>
    </pipelines>
    <log4net>
        <appender name="ChartwellLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="$(dataFolder)/logs/Custom/CustomLog.log.{date}.{time}.txt"/>
            <encoding value="utf-8" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="100KB" />
            <datePattern value="_yyyyMMdd" />
            <rollingStyle value="Date" />
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d (%-5p) %n%m%n%n" />
            </layout>
        </appender>

        <appender name="ChartwellContactUSLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="$(dataFolder)/logs/Custom/ContactFormLog.log.{date}.{time}.txt"/>
            <encoding value="utf-8" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="100KB" />
            <datePattern value="_yyyyMMdd" />
            <rollingStyle value="Date" />
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d (%-5p) %n%m%n%n" />
            </layout>
        </appender>
    </log4net>
     <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
                    <server>smpt.gmail.com</server>
                    <port>587</port>
                    <userName>noreply@chartwellreit.ca</userName>
                    <password>34well985Chart28732%$#2</password>
                    <authenticationMethod>None</authenticationMethod>
                    <startTls>true</startTls>
                    <proxySettings ref="exm/eds/proxySettings" />
    </smtpSettings>  
     <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore"> 
          <patch:attribute name="languageEmbedding">always</patch:attribute>         
        </add>
      </providers>
    </linkManager>  
    
      <!-- Patches that need to be made for xDB custom facet integration into EXM and List Manager -->
      <xconnect>
        <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
          <schemas hint="list:AddModelConfiguration">
                <schema name="ContactFacetExtModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
                    <param desc="modeltype">Chartwell.Feature.CustomFacets.ContactFacetExtModel, Chartwell.Feature.CustomFacets</param>
                </schema>
          </schemas>
        </runtime>
      </xconnect>

      <recipients>
        <recipientPropertyTokenMap type="Chartwell.Feature.CustomFacets.CustomRecipientPropertyTokenMap,  Chartwell.Feature.CustomFacets" singleInstance="true" patch:instead="*[@type='Sitecore.Modules.EmailCampaign.Core.Personalization.DefaultRecipientPropertyTokenMap, Sitecore.EmailCampaign']" />
      </recipients>

      <settings>
        <setting name="ListManagement.Import.FacetsToMap">
          <patch:attribute name="value">Emails|Personal|Addresses|ContactExt</patch:attribute>
        </setting>
      </settings>    

      <import>
        <facetMapper>
          <facetMappers hint="list:Add">
            <facetMapper type="Chartwell.Feature.CustomFacets.CustomContactFacetMapper, Chartwell.Feature.CustomFacets" />
          </facetMappers>
        </facetMapper>
      </import>

    <exm>
      <dispatchTask type="Sitecore.EmailCampaign.Cm.Dispatch.DispatchTask, Sitecore.EmailCampaign.Cm">
        <patch:attribute name="type">Chartwell.Feature.CustomFacets.CustomDispatchTask, Chartwell.Feature.CustomFacets</patch:attribute>
        <param ref="exm/dispatchFailedTaskPool"/>
        <param desc="recipientValidator" ref="exm/recipientValidator" />
        <param desc="contactService" ref="exm/contactService" />
        <param desc="dataProvider" ref="exm/dataProvider" />
        <param desc="itemUtil" ref="exm/itemUtil" />
        <param desc="eventDataService" ref="exm/eventDataService" />
        <param desc="dispatchManager" ref="exm/dispatchManager" />
        <param desc="emailAddressHistoryManager" ref="exm/emailAddressHistoryManager" />
        <param desc="recipientManagerFactory" ref="exm/recipientManagerFactory" />
        <param desc="sentHistoryManager" ref="exm/sentHistoryManager" />
      </dispatchTask>
    </exm>

    <pipelines>
      <group groupName="exm">
        <pipelines>
          <getContact>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetContact.GetContact, Sitecore.EmailCampaign" resolve="true">
            <patch:attribute name="type">Chartwell.Feature.CustomFacets.GetContact, Chartwell.Feature.CustomFacets</patch:attribute>
            </processor>
          </getContact>
        </pipelines>
      </group>
    </pipelines> 
  </sitecore>
</configuration>