@using Newtonsoft.Json
@using System.Text.RegularExpressions;

<style>
  .logo-style {
    padding: 0;
  }

  .slogan p {
    color: #666;
    padding: 0 0 20px 0;
  }

  img.askEdnaLogo {
    width: 80px;
  }

  img.ednaMobile {
    width: 71px;
    height: 67px;
    position: relative;
    margin-left: 50%;
  }

  img.supportCircle {
    margin-top: 15px;
  }

  .supportInfo h4, .supportInfo h3, .supportInfo h4 a {
    color: #0155b8 !important;
    margin-bottom: 0px;
    text-align: right;
  }

    .supportInfo h3 a:hover span {
      color: #0271be;
    }

  #ednaSupport, #ednaFinances, #ednaActive, #ednaChoose, #ednaHealth, #ednaCare {
    cursor: pointer;
    border: 3px solid white;
  }

  .ednaThumbsInactiv {
    border: 3px solid white;
  }

  .ednaThumbsActiv {
    border: 3px solid #ae8499;
  }

  h3.seachHdr {
    color: #666 !important;
  }
</style>

<div class="askEdnaContainer">

  <div class="row">
    <div class="col-xs-12">

      <h1 class="text-center" style="padding: 0px 0px 20px; color: #ad6b81; font-weight: normal;">Les conseils de Thérèse</h1>
      <img class="img-responsive" style="margin: auto auto 20px;" alt="bar" src="-/media/0547955E4B3F42E0AEA0502F69963676.ashx" />

      <div class="clearfix visible-xs-block">&nbsp;</div>

      <div class="col-md-12">
        <p style="padding-bottom: 25px;"><em>Voici une nouvelle série de vidéos abordant plusieurs sujets en lien avec ce que la plupart des gens vivent au moment de prendre la décision d&rsquo;emménager en résidence pour retraités. Des propos qui intéresseront aussi bien les retraités que ceux qui les accompagnent dans cette aventure. Laissez Thérèse vous expliquer, à sa façon, ce qu&rsquo;elle a appris sur le vieillissement, la santé, les finances, le choix d&rsquo;une résidence et bien d&rsquo;autres sujets. </em></p>
      </div>


      @if (Html.Sitecore().Field("PageVids").ToString().Length >= 1)
      {
        <section class="gallery-block cards-gallery">
          <div class="container">
            <div class="row photoGallery">

              @foreach (var item in (dynamic)JsonConvert.DeserializeObject(Regex.Replace(@Html.Sitecore().Field("PageVids").ToString(), "<.*?>", String.Empty)))
              {
                <div class="col-md-6 col-lg-4 videoItem" data-toggle="modal" data-src="https://www.youtube.com/embed/@item.id" data-target="#videoModal">
                  <div class="card border-0 transform-on-hover">
                    <div class="card-hero-img" style="background-image: url('https://i.ytimg.com/vi/@item.id/hqdefault.jpg');">
                      <!--<img src="https://i.ytimg.com/vi/@item.id/hqdefault.jpg" style="width: 100%; height: auto"/>-->
                      <!--<iframe style="position: absolute; top: 0" width="100%" height="100%" src="https://www.youtube.com/embed/@item.id" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                      <i class="fab fa-youtube"></i>
                    </div>
                    <div class="card-body">
                      <h6><a href="#">@item.heading</a></h6>
                      <p class="text-muted card-text">@item.desc</p>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </section>

        <div class="modal" tabindex="-1" role="dialog" id="videoModal">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="" id="gtmGenericVideo" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
              </div>
            </div>
          </div>
          <button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button"><svg width="44" height="60"><polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button>
          <button type="button" id="next-button" aria-label="Next" class="baguetteBox-button"><svg width="44" height="60"><polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button>
          <button type="button" id="close-button" aria-label="Close" class="baguetteBox-button" data-dismiss="modal"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button>

        </div>

      }

    </div>
  </div>

  <!-- Accordion -->

  <div class="row">
    <div class="col-md-12">


      <!-- NEW ACCORDION Start ------------------------------- -->

      <div class="accordion panel-group" id="faqAccordion" role="tablist" aria-multiselectable="true">


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="headingQualityFood" data-toggle="collapse" data-target="#collapseFaqAnswer1" data-parent="#faqAccordion" href="#collapseFaqAnswer1" aria-expanded="false" aria-controls="collapseFaqAnswer1">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer1" aria-expanded="false" aria-controls="collapseFaqAnswer1">
                Cécile a demandé : J&rsquo;admire votre style. Faites-vous affaire avec un styliste, un décorateur?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer1" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer1" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Merci pour le compliment! J&rsquo;aime être bien habillée et entourée de belles choses. J&rsquo;ai des goûts bien précis et je choisis tout moi-même. Je sais que mes goûts ne sont pas partagés par tout le monde, mais pour moi, l&rsquo;important, c&rsquo;est de me sentir bien. Et ce n&rsquo;est pas le fait de vivre en résidence qui va y changer quoi que ce soit.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer2id" data-toggle="collapse" data-target="#collapseFaqAnswer2" data-parent="#faqAccordion" href="#collapseFaqAnswer2" aria-expanded="false" aria-controls="collapseFaqAnswer2">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer2" aria-expanded="false" aria-controls="collapseFaqAnswer2">
                Henri a demandé : Combien coûte la vie en résidence pour retraités?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer2" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer2" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Oh&hellip; C&rsquo;est différent pour chacun. Il faut tenir compte de beaucoup de facteurs, comme du type de logement que vous choisissez (un studio, un appartement avec 1, 2 ou même 3 chambres à coucher ou encore, un studio dans un centre de soins) et des différents soins et services dont vous avez besoin. L&rsquo;idéal est de discuter avec quelqu&rsquo;un de chez Chartwell. Mais vous pouvez déjà avoir une bonne idée du budget requis grâce à un outil en ligne : <a href="/fr/apprendre/planificateur-de-coûts">Le planificateur de coûts.</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer3id" data-toggle="collapse" data-target="#collapseFaqAnswer3" data-parent="#faqAccordion" href="#collapseFaqAnswer3" aria-expanded="false" aria-controls="collapseFaqAnswer3">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer3" aria-expanded="false" aria-controls="collapseFaqAnswer3">
                Vous avez demandé : Quel est le nom de votre chien en porcelaine?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer3" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer3" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Il n&rsquo;a pas de nom. Mais il est très obéissant : un jour, je lui ai dit &laquo; Reste &raquo; et il n&rsquo;a pas bougé depuis 20 ans!
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer4id" data-toggle="collapse" data-target="#collapseFaqAnswer4" data-parent="#faqAccordion" href="#collapseFaqAnswer4" aria-expanded="false" aria-controls="collapseFaqAnswer4">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer4" aria-expanded="false" aria-controls="collapseFaqAnswer4">
                Vous avez demandé : Comment sont les soins de santé?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer4" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer4" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Je dirais qu&rsquo;ils sont excellents. Et surtout, ils suivent vos besoins, à mesure qu&rsquo;ils évoluent. Alors, je recommande de bien profiter de nos années de retraite, d&rsquo;avoir du plaisir et de bonnes habitudes alimentaires. Et si jamais on a besoin de soutien additionnel, les gens de Chartwell sont toujours là pour revoir l&rsquo;offre de service et de soins de santé. <a href="/fr/aidez-moi-à-choisir/explorez-les-options">En savoir plus</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer5id" data-toggle="collapse" data-target="#collapseFaqAnswer5" data-parent="#faqAccordion" href="#collapseFaqAnswer5" aria-expanded="false" aria-controls="collapseFaqAnswer5">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer5" aria-expanded="false" aria-controls="collapseFaqAnswer5">
                Jeanne a demandé : Y a-t-il des dépenses qui ne sont pas incluses dans mon loyer mensuel?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer5" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer5" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Ça dépend de vos besoins et de la résidence où vous habitez. Les services offerts dans votre loyer de base peuvent inclure, par exemple, les activités, l&rsquo;entretien ménager ou même des repas, mais il y a surtout une flexibilité pour ajouter ou enlever des options, selon vos préférences. Par exemple, vous pourriez décider d&rsquo;ajouter des soins après un certain temps. Et si vous êtes comme moi, vous aurez le goût de sortir régulièrement pour magasiner ou aller au resto avec des amis, en plus de faire un petit voyage de temps en temps. Ce sont des choses à prévoir dans son budget.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer6id" data-toggle="collapse" data-target="#collapseFaqAnswer6" data-parent="#faqAccordion" href="#collapseFaqAnswer6" aria-expanded="false" aria-controls="collapseFaqAnswer6">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer6" aria-expanded="false" aria-controls="collapseFaqAnswer6">
                Paul a demandé : Quel genre d&rsquo;activités sont offertes chez Chartwell?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer6" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer6" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Oh là là&hellip; Il y en a pour tous les goûts! Du bridge au yoga, en passant par la partie de billard et le cha-cha-cha&hellip; Personnellement, je suis plus du genre cha-cha-cha&hellip; <a href="/fr/nos-services/vie-active">En savoir plus</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer7id" data-toggle="collapse" data-target="#collapseFaqAnswer7" data-parent="#faqAccordion" href="#collapseFaqAnswer7" aria-expanded="false" aria-controls="collapseFaqAnswer7">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer7" aria-expanded="false" aria-controls="collapseFaqAnswer7">
                Vous avez demandé : Est-ce qu&rsquo;on peut entrer et sortir comme on veut?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer7" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer7" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Ben voyons&hellip; C&rsquo;est une résidence, pas une prison! Évidemment qu&rsquo;on peut aller où on veut, quand on veut. Moi, j&rsquo;aime bien aller manger avec mes amis ou ma famille, parfois même faire une petite escapade de quelques jours. Je vois la résidence comme un hôtel confortable : je suis entièrement libre, mais si j&rsquo;ai besoin de quoi que ce soit, par exemple, si je n&rsquo;ai pas envie de cuisiner chez moi un soir, je peux descendre à la salle à manger, inviter ma famille ou mes amis dans la salle à manger privée ou m&rsquo;adresser à la réception pour obtenir un taxi et sortir au restaurant.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer8id" data-toggle="collapse" data-target="#collapseFaqAnswer8" data-parent="#faqAccordion" href="#collapseFaqAnswer8" aria-expanded="false" aria-controls="collapseFaqAnswer8">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer8" aria-expanded="false" aria-controls="collapseFaqAnswer8">
                Richard a demandé : Comment puis-je calculer mon budget pour être sûr de pouvoir me permettre la vie en résidence?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer8" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer8" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Aussi facile que de cliquer avec une souris! Chartwell a un outil de calcul en ligne qui permet de comparer le coût de la vie en résidence avec vos dépenses actuelles dans votre maison, condo ou appartement. <a href="/fr/apprendre/planificateur-de-coûts">En savoir plus</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer9id" data-toggle="collapse" data-target="#collapseFaqAnswer9" data-parent="#faqAccordion" href="#collapseFaqAnswer9" aria-expanded="false" aria-controls="collapseFaqAnswer9">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer9" aria-expanded="false" aria-controls="collapseFaqAnswer9">
                Claire a demandé : À quel âge devrais-je emménager dans une résidence pour retraités?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer9" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer9" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Ça dépend de chacun. Mais ce qui me frappe, c&rsquo;est qu&rsquo;après avoir fait le saut, plusieurs personnes m&rsquo;ont dit n&rsquo;avoir qu&rsquo;un seul regret : ne pas l&rsquo;avoir fait plus tôt. Je dirais que le bon moment, c&rsquo;est quand vous êtes prête à simplifier votre vie et vous concentrer sur ce qui compte vraiment pour vous.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer10id" data-toggle="collapse" data-target="#collapseFaqAnswer10" data-parent="#faqAccordion" href="#collapseFaqAnswer10" aria-expanded="false" aria-controls="collapseFaqAnswer10">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer10" aria-expanded="false" aria-controls="collapseFaqAnswer10">
                Édith a demandé : Que voulez-vous dire par &laquo; Une retraite avec seulement les avantages &raquo;?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer10" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer10" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  C&rsquo;est comme ça que j&rsquo;appelle une retraite où je bénéficie d&rsquo;une vie sociale active et de l&rsquo;excellent soutien d&rsquo;un personnel qualifié. Ce qui veut dire que je continue de faire ce que j&rsquo;ai toujours voulu faire, pendant que le personnel de Chartwell s&rsquo;occupe des tâches que je ne veux plus accomplir, comme l&rsquo;entretien de la maison, le paiement de diverses factures et le déneigement... Comme ça, je me concentre sur ce qui m&rsquo;importe vraiment et j&rsquo;en profite pleinement! <a href="/fr/par-où-commencer/trouver-une-résidence-pour-un-proche">En savoir plus</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


      </div>	<!-- / .accordion -->
      <!-- NEW ACCORDION END ------------------------------- -->

      <img alt="bar" class="img-responsive" src="-/media/1A5A59612DC047E0951AB1CECE632DB9.ashx" style="margin: 40px auto 20px;">


    </div><!-- / .col-md-12 -->
  </div><!-- / .row -->
</div><!-- / .askEdnaContainer -->
<!-- unitegallery video theme selector -->
<script type="text/javascript">
  jQuery("#gallery").unitegallery({
    gallery_theme: "video",
    strip_control_touch: false
  });
</script>