@using Newtonsoft.Json
@using System.Text.RegularExpressions;

<style>

  .logo-style {
    padding: 0;
  }

  .slogan p {
    color: #666;
    padding: 0 0 20px 0;
  }

  img.logo-image-style {
  }

  img.askEdnaLogo {
    width: 80px;
  }

  img.ednaMobile {
    width: 71px;
    height: 67px;
    position: relative;
    margin-left: 50%;
  }

  img.supportCircle {
    margin-top: 15px;
  }

  .supportInfo h4, .supportInfo h3, .supportInfo h4 a {
    color: #0155b8 !important;
    margin-bottom: 0px;
    text-align: right;
  }

    .supportInfo h3 a:hover span {
      color: #0271be;
    }

  #ednaSupport, #ednaFinances, #ednaActive, #ednaChoose, #ednaHealth, #ednaCare {
    cursor: pointer;
    border: 3px solid white;
  }

  .ednaThumbsInactiv {
    border: 3px solid white;
  }

  .ednaThumbsActiv {
    border: 3px solid #ae8499;
  }

  h3.seachHdr {
    color: #666 !important;
  }

</style>

<div class="askEdnaContainer">

  <div class="row">
    <div class="col-xs-12">

      <h1 class="text-center" style="padding: 0px 0px 20px; color: #ad6b81; font-weight: normal;">YOU ASKED EDNA</h1>
      <img class="img-responsive" style="margin: auto auto 20px;" alt="bar" src="-/media/0547955E4B3F42E0AEA0502F69963676.ashx" />

      <div class="clearfix visible-xs-block">&nbsp;</div>

      <div class="col-md-12">
        <p style="padding-bottom: 25px;"><em>Let us introduce you to a new video series from Chartwell: &quot;Ask Edna.&quot; A high-spirited 80-something with a personality that can only be described as part Betty White, part Dear Abby. She&rsquo;s not afraid to tackle tough topics on aging and retirement living, the first being how adult children can help support their parents during the next stage in their lives. Be sure to check out her video; you&rsquo;ll be charmed by the frank humour and candid advice.</em></p>
      </div>


      @if (Html.Sitecore().Field("PageVids").ToString().Length >= 1)
      {
        <section class="gallery-block cards-gallery">
          <div class="container">
            <div class="row photoGallery">

              @foreach (var item in (dynamic)JsonConvert.DeserializeObject(Regex.Replace(@Html.Sitecore().Field("PageVids").ToString(), "<.*?>", String.Empty)))
              {
                <div class="col-md-6 col-lg-4 videoItem" data-toggle="modal" data-src="https://www.youtube.com/embed/@item.id" data-target="#videoModal">
                  <div class="card border-0 transform-on-hover">
                    <div class="card-hero-img" style="background-image: url('https://i.ytimg.com/vi/@item.id/hqdefault.jpg');">
                      <!--<img src="https://i.ytimg.com/vi/@item.id/hqdefault.jpg" style="width: 100%; height: auto"/>-->
                      <!--<iframe style="position: absolute; top: 0" width="100%" height="100%" src="https://www.youtube.com/embed/@item.id" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                      <i class="fab fa-youtube"></i>
                    </div>
                    <div class="card-body">
                      <h6><a href="#">@item.heading</a></h6>
                      <p class="text-muted card-text">@item.desc</p>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </section>

        <div class="modal" tabindex="-1" role="dialog" id="videoModal">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="" id="gtmGenericVideo" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
              </div>
            </div>
          </div>
          <button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button"><svg width="44" height="60"><polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button>
          <button type="button" id="next-button" aria-label="Next" class="baguetteBox-button"><svg width="44" height="60"><polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button>
          <button type="button" id="close-button" aria-label="Close" class="baguetteBox-button" data-dismiss="modal"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button>

        </div>

      }
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <!-- NEW ACCORDION Start ------------------------------- -->

      <div class="accordion panel-group" id="faqAccordion" role="tablist" aria-multiselectable="true">


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="headingQualityFood" data-toggle="collapse" data-target="#collapseFaqAnswer1" data-parent="#faqAccordion" href="#collapseFaqAnswer1" aria-expanded="false" aria-controls="collapseFaqAnswer1">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer1" aria-expanded="false" aria-controls="collapseFaqAnswer1">
                So what style are you accustomed to living in?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer1" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer1" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  Oh boy, now that&rsquo;s a doozy of a question. My style has changed over the years. But the one thing that has always remained the same is my plan to live a life that&rsquo;s relaxed, easy-going and full of activity. But also one that is always within my means. Sure, I may look like a million bucks, but it doesn&rsquo;t mean I spent a million to look that way.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer2id" data-toggle="collapse" data-target="#collapseFaqAnswer2" data-parent="#faqAccordion" href="#collapseFaqAnswer2" aria-expanded="false" aria-controls="collapseFaqAnswer2">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer2" aria-expanded="false" aria-controls="collapseFaqAnswer2">
                How much does it cost to live in a retirement residence?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer2" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer2" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  There are a whole lot of factors to take into account. And it all depends on whether you&rsquo;d like to live in an apartment, townhome or a one- or two-bedroom suite. The best thing to do is inquire directly at Chartwell. The folks there will sit down with you and give you a precise idea of how much it costs to live in the kind of place you&rsquo;re thinking about.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer3id" data-toggle="collapse" data-target="#collapseFaqAnswer3" data-parent="#faqAccordion" href="#collapseFaqAnswer3" aria-expanded="false" aria-controls="collapseFaqAnswer3">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer3" aria-expanded="false" aria-controls="collapseFaqAnswer3">
                What are the additional expenses outside of my package?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer3" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer3" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  It all depends on your personal needs and the retirement residence you&rsquo;re looking at. There will be some fixed services within your package&mdash;perhaps things like meals, housekeeping and activities&mdash;but also flexible options that can be added or removed according to your needs and preferences, like personalized support options. And if you&rsquo;re someone like me who likes to socialize both within and outside of the home&mdash;going shopping, lunch with friends, travelling&mdash;you&rsquo;ll want to factor that into your budget as well.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer4id" data-toggle="collapse" data-target="#collapseFaqAnswer4" data-parent="#faqAccordion" href="#collapseFaqAnswer4" aria-expanded="false" aria-controls="collapseFaqAnswer4">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer4" aria-expanded="false" aria-controls="collapseFaqAnswer4">
                How can I calculate exactly how much I need to move into a retirement residence?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer4" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer4" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  First you need a calculator. Or if you&rsquo;re old school like me, pen and paper. How much can depend upon what level of personal care or support you need, among other things. Once you&rsquo;ve decided on your requirements for a happy retirement lifestyle, you can sit down and figure out your budget. Chartwell makes it really easy with an on-line <a href="/learn/budget-assistant">budget assistant tool</a>.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer5id" data-toggle="collapse" data-target="#collapseFaqAnswer5" data-parent="#faqAccordion" href="#collapseFaqAnswer5" aria-expanded="false" aria-controls="collapseFaqAnswer5">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer5" aria-expanded="false" aria-controls="collapseFaqAnswer5">
                How the heck do you put your outfits together?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer5" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer5" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  A lady never tells her secrets. But if you must really know, it’s a combination of Liz Taylor, Richard Simmons and the Calgary Stampede.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer6id" data-toggle="collapse" data-target="#collapseFaqAnswer6" data-parent="#faqAccordion" href="#collapseFaqAnswer6" aria-expanded="false" aria-controls="collapseFaqAnswer6">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer6" aria-expanded="false" aria-controls="collapseFaqAnswer6">
                So what kind of activities do they have at Chartwell?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer6" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer6" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  You name it, they&rsquo;ve got it. From bridge tournaments to dancing the cha-cha. I prefer the cha-cha myself. <a href="/our-services/active-living">Read more &raquo;</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer7id" data-toggle="collapse" data-target="#collapseFaqAnswer7" data-parent="#faqAccordion" href="#collapseFaqAnswer7" aria-expanded="false" aria-controls="collapseFaqAnswer7">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer7" aria-expanded="false" aria-controls="collapseFaqAnswer7">
                Your porcelain poodle, what's his name?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer7" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer7" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  I call him ‘Stay’. He hasn’t moved in years, so I guess it’s worked so far.
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer8id" data-toggle="collapse" data-target="#collapseFaqAnswer8" data-parent="#faqAccordion" href="#collapseFaqAnswer8" aria-expanded="false" aria-controls="collapseFaqAnswer8">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer8" aria-expanded="false" aria-controls="collapseFaqAnswer8">
                How good are the health care services?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer8" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer8" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  No worries, folks. The fine people at Chartwell will be there to assist you if you eventually need it. In the meantime, have fun and eat healthy, and should you require additional support, they can adapt services to meet your needs. That way, you can enjoy your retirement years to the fullest. <a href="/help-me-choose/exploring-your-options">Read more &raquo;</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer9id" data-toggle="collapse" data-target="#collapseFaqAnswer9" data-parent="#faqAccordion" href="#collapseFaqAnswer9" aria-expanded="false" aria-controls="collapseFaqAnswer9">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer9" aria-expanded="false" aria-controls="collapseFaqAnswer9">
                Edna, how can I calculate my budget to make sure I can comfortably enjoy a retirement home?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer9" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer9" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  It&rsquo;s as easy as pie. Chartwell has an online budget calculator that can help you evaluate the savings you may actually realize living in a retirement home compared to your current neck of the woods. <a href="/learn/budget-assistant">Read more &raquo;</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


        <div class="card panel panel-default">
          <div class="card-header panel-heading" role="tab" id="collapseFaqAnswer10id" data-toggle="collapse" data-target="#collapseFaqAnswer10" data-parent="#faqAccordion" href="#collapseFaqAnswer10" aria-expanded="false" aria-controls="collapseFaqAnswer10">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" href="#collapseFaqAnswer10" aria-expanded="false" aria-controls="collapseFaqAnswer10">
                What do you mean by retirement with benefits?
                <span style="float: right;" class="glyphicon glyphicon-chevron-down">
              </a>
            </h4>
          </div>
          <div id="collapseFaqAnswer10" class="collapse panel-collapse" role="tabpanel" aria-labelledby="collapseFaqAnswer10" data-parent="#faqAccordion">
            <div class="card-body panel-body">
              <div class="col-md-12">
                <p>
                  It&rsquo;s retirement with the added benefits of socialization, support and great service. Which means you keep doing what you always wanted to do in retirement, while Chartwell&rsquo;s staff will take care of the stuff you want to give up at this point, like maintaining a house, paying a stack of bills or shovelling the snow. That way, you can focus on doing what matters most to you. <a href="/getting-started/searching-for-a-loved-one">Read more &raquo;</a>
                </p>
              </div>
            </div><!-- / .panel-body -->
          </div>
        </div><!-- / .panel -->


      </div>	<!-- / .accordion -->
      <!-- NEW ACCORDION END ------------------------------- -->



      <img alt="bar" class="img-responsive" src="-/media/1A5A59612DC047E0951AB1CECE632DB9.ashx" style="margin: 40px auto 20px;">


    </div><!-- / .col-md-12 -->
  </div><!-- / .row -->
</div><!-- / .askEdnaContainer -->
