<div class="col-md-12 staticPage pl-0 pr-0">

  <style>
    .blurbsHome {
    }

      .blurbsHome .thumbnail {
        border: 1px solid #ddd !important;
        border-radius: 4px !important;
        min-height: 740px;
      }

      .blurbsHome .iconBlurbs {
        display: block;
        width: 120px;
        height: 120px;
        border: 4px solid white;
        margin: -70px auto auto auto;
        position: relative;
        background-color: lightgray;
        -webkit-border-radius: 1100% !important;
        -moz-border-radius: 100% !important;
        -o-border-radius: 100% !important;
        border-radius: 100% !important;
      }

      .blurbsHome h3 {
        color: gray !important;
        font-weight: bold;
        font-size: 2em !important;
        text-align: center;
      }

      .blurbsHome a.btn {
        text-align: center;
        color: White;
      }

    .ug-icon-zoom {
      display: none !important;
    }

    .ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-link {
      margin-left: -5% !important;
    }


    .caption em {
      display: block;
      margin-bottom: 8px;
      font-family: Georgia, serif;
      font-size: 16px;
      font-weight: bold;
    }

    .caption p {
      font-size: 16px;
    }
  </style>

  <div id="toolsgallery" class="row">
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 tool-column">
      <a href="/our-services/wellness-and-support-services" style="background-image:url(-/media/8D6B67419C14410FB156F4C0DC926E40.ashx);">
        <h3>Care Options</h3>
      </a>
    </div>


    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 tool-column">
      <a href="/getting-started/searching-for-a-loved-one/is-it-time-questionnaire" style="background-image:url(-/media/A5E79A5F1A9C4217B4143E26E5BEC35A.ashx);">
        <h3>Is It Time? - Questionnaire</h3>
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool-column">
      <a href="/getting-started/searching-for-self/am-i-ready-questionnaire" style="background-image:url(-/media/25887E2B1B4D43E6A9976DCE6A227308.ashx);">
        <h3>Am I Ready? - Questionnaire</h3>
      </a>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 tool-column">
      <a href="/en/getting-started/searching-for-a-loved-one/supporting-a-loved-one" style="background-image:url(-/media/AD7B702A925943EC9C57E456C2562525.ashx);">
        <h3>Supporting a Loved One - Guide</h3>
      </a>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 tool-column">
      <a href="/getting-started/searching-for-self/exploring-retirement-living?gtm=exploring" style="background-image:url(-/media/910590581C354E2E99BD5E58F916C038.ashx);">
        <h3>Exploring Retirement Living - Guide</h3>
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool-column">
      <a href="/learn/budget-assistant?gtm=Budget" style="background-image:url(-/media/62DECA4B5F56454F8272777154EF7DB4.ashx);">
        <h3>Budget Assistant</h3>
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 tool-column">
      <a href="/search-results/?City=Canada" style="background-image:url(-/media/1170393CA4B14F6BA51B2506954AEB86.ashx);">
        <h3>Our Residences</h3>
      </a>
    </div>
  </div>

  <!-- WOLC video -->

  <div class="row" id="wishOfALifetime">
    <div class="col-md-7 col-lg-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" title="Chartwell Makes Dreams Come True" src="https://www.youtube.com/embed/2Dt-anBCKMQ?rel=0&iv_load_policy=3&enablejsapi=1" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="col-md-5 col-lg-4">
      <h2>Chartwell Makes Dreams Come True</h2>
      <h3>At Chartwell, we believe no one is ever too old to dream.</h3>
      <p>
        Since 2015, Chartwell has made the wishes of seniors across Canada come true. Watch their inspiring stories.
      </p>

      <a id="btnTopNavReadVideo" href="../en/about-us/wish-of-a-lifetime-canada" class="btn btn-primary">Read more</a>
    </div>
  </div><!-- / .row -->
  <!-- end WOLC video -->


  <div class="row" id="hpBlogArea">
    <div class="col-md-12">
      <div class="row" style="padding-bottom:10px;">
        <div class="col-xs-8 col-sm-8 col-md-9"><h2>Our Newest Residences </h2></div>
        <div class="col-xs-4 col-sm-4 col-md-3 text-right"><a href="../en/newest-properties" id="btnTopNavRead" class="btn btn-info viewMoreBtn" style="background-image:none;">Read More</a></div>
      </div><!-- / .row -->
      <div class="row">
        <div class="col-md-12">
          <div class="newestResidences" id="newestResidences">
           @Html.Sitecore().Placeholder("Page.HomeCarousel")
          </div><!-- / .newestResidences -->
          
          <div class="newestResidences-nav" id="newestResidenceNav">
          @Html.Sitecore().Placeholder("Page.SmallCarousel")
          </div><!-- / .newestResidences-nav -->
        </div><!-- / .col-md-12 -->
      </div><!-- / .row -->

    </div><!-- / .col-md-8 -->
    <div class="col-md-12">
      <!-- Blog rss reader -->
      <div id="divBlogRss">
        @Html.Sitecore().Placeholder("Page.RecentBlog")
      </div>
    </div><!-- / .col-md-4 -->
  </div>

</div><!-- / .staticPage -->
<!-- slider home page tabs -->
<script>
  function openService(evt, serviceName) {
    var i, tabServicecontent, tabServicelinks;
    tabServicecontent = document.getElementsByClassName("tabServicecontent");
    for (i = 0; i < tabServicecontent.length; i++) {
      tabServicecontent[i].style.display = "none";
    }
    tabServicelinks = document.getElementsByClassName("tabServicelinks");
    for (i = 0; i < tabServicelinks.length; i++) {
      tabServicelinks[i].className = tabServicelinks[i].className.replace(" active", "");
    }
    document.getElementById(serviceName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<!-- newest residences assets -->
<link rel="stylesheet" type="text/css" href="~/Assets/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/Assets/slick/slick-theme.css" />
<script type="text/javascript" src="~/Assets/slick/slick.js"></script>

<!-- / newest residences assets -->

  <style>
    .viewMoreBtn {
      background-color: White !important;
      border-radius: 4px !important;
      border: 1px solid #41B0FF !important;
      color: #41B0FF !important;
      margin-top: 20px;
    }

      .viewMoreBtn:hover {
        background-color: #DEDEDE !important;
        cursor: pointer;
        color: #0073bc !important;
        border-color: #0073bc !important;
      }
  </style>