<div class="staticPage" id="Results">

  <div class="row surveyRow">
    <div class="col-md-12">

      <h1 class="text-center">Sondage - Est-ce le moment?</h1><hr class="featurette-divider" /><p>Si vous désirez savoir si le moment est arrivé pour vous ou pour un être cher d'envisager la vie en résidence pour retraités, remplissez le sondage-Est-ce le moment?</p>

      <hr />

      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <form class="formIsItTime" id="QuestionnaireForm">
        <div class="step">
          <div class="bs-example">
            <ol><li>À quelle fréquence vous inquiétez-vous au sujet de votre proche âgé lorsqu’il est seul à la maison?</li></ol>
          </div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q1" value="1" />&nbsp;Jamais</label><label class="radio-inline"><input type="radio" name="q1" value="1" />&nbsp;Parfois</label><label class="radio-inline"><input type="radio" name="q1" value="2" />&nbsp;Souvent</label>
            <div id="a1" class="errormsg"></div>
          </div>

          <div class="bs-example">
            <ol start="2"><li> Votre proche a-t-il récemment souffert d’un problème de santé qui vous a inquiété? </li></ol>
          </div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q2" value="3" />&nbsp;Non</label><label class="radio-inline"><input type="radio" name="q2" value="1" />&nbsp;Oui </label><label class="radio-inline">
              <input type="radio" name="q2" value="2" />&nbsp;Non, mais que cela puisse se produire m’inquiète
            </label>
            <div id="a2" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="3"><li> Êtes-vous de plus en plus stressé en raison de responsabilités additionnelles que vous devez assumer pour prendre soin de votre proche?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q3" value="3" />&nbsp;Non</label>
            <label><input type="radio" name="q3" value="1" />&nbsp;Oui</label>
            <label><input type="radio" name="q3" value="2" />&nbsp;Non, mais je crains que cela se produise un jour ou l’autre.</label>
            <div id="a3" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="4"><li> Votre proche a-t-il commencé à être distrait, à négliger les tâches ménagères ou à ne pas payer ses factures? </li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q4" value="3" />&nbsp;Non </label><label class="radio-inline"><input type="radio" name="q4" value="1" />&nbsp;Oui </label><label class="radio-inline"><input type="radio" name="q4" value="2" />&nbsp;Parfois </label>
            <div id="a4" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="5"><li> Croyez-vous que votre proche peut se sentir seul et qu’il en bénéficierait s'il pouvait profiter d'opportunités plus étendues afin de socialiser ?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q5" value="3" />&nbsp;Non</label><label class="radio-inline"><input type="radio" name="q5" value="1" />&nbsp;Oui</label><label class="radio-inline"><input type="radio" name="q5" value="2" />&nbsp;Peut-être</label>
            <div id="a5" class="errormsg"></div>
          </div>
        </div>

        <div class="step">
          <div class="bs-example"><ol start="6"><li> Un professionnel de la santé estime-t-il que la recherche d’une résidence pour retraités puisse être bénéfique pour votre proche?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q6" value="3" />&nbsp;Non</label>
            <label><input type="radio" name="q6" value="1" />&nbsp;Oui</label><label><input type="radio" name="q6" value="2" />&nbsp;Pas encore, mais il anticipe que cela sera le cas à l’avenir.</label>
            <div id="a6" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="7"><li> Est-ce que de vivre dans une résidence offrant un soutien de base pour la lessive, les tâches ménagères et la sécurité aiderait grandement votre être cher et réduirait ainsi le fardeau de ses aidants naturels?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q7" value="3" />&nbsp;Non</label><label class="radio-inline"><input type="radio" name="q7" value="1" />&nbsp;Oui</label><label class="radio-inline"><input type="radio" name="q7" value="2" />&nbsp;Peut-être dans un avenir prévisible</label>
            <div id="a7" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="8"><li> À quelle quantité d’activité physique votre être cher a-t-il accès et quelles sont celles auxquelles il participe activement?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q8" value="3" />&nbsp;Il a accès à la pratique d'activités physiques et s'y adonne également.</label><label class="radio-inline"><input type="radio" name="q8" value="1" />&nbsp;Quelques-unes, mais il pourrait bénéficier de plus d’options.</label><label class="radio-inline"><input type="radio" name="q8" value="2" />&nbsp;Aucune, et il bénéficierait grandement d’une résidence qui lui offrirait ce service.</label>
            <div id="a8" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="9"><li> Votre proche a-t-il rencontré des problèmes liés à la conduite automobile, notamment être moins à l’aise pendant la conduite, la perte de son permis ou de la difficulté à trouver un moyen de transport pour se rendre à ses rendez-vous?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q9" value="3" />&nbsp;Non</label>
            <label><input type="radio" name="q9" value="1" />&nbsp;Oui</label>
            <label>
              <input type="radio" name="q9" value="2" />&nbsp;Non, mais il y a de fortes chances que cela se produise dans le futur.
            </label>
            <div id="a9" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="10"><li> Auriez-vous l’esprit plus en paix en sachant que votre être cher vit dans une résidence où son bien-être est observé et suivi au quotidien ? </li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q10" value="3" />&nbsp;Non</label><label class="radio-inline"><input type="radio" name="q10" value="1" />&nbsp;Oui</label><label class="radio-inline"><input type="radio" name="q10" value="2" />&nbsp;Non, mais ce pourrait être le cas à l’avenir.</label>
            <div id="a10" class="errormsg"></div>
          </div>
        </div>

        <hr />
        <div class="col-md-4 text-left"><div class="action back btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Arrière</div></div>
        <div class="col-md-8 text-right"><div class="action next btn btn-default">Prochain <span class="glyphicon glyphicon-chevron-right"></span></div></div>


        <div id="error"></div> <div class=" text-right"> <div id="surveyReady" class="action btn btn-default isittime">Voir les recommandations &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></div> </div>
      </form>
    </div>
  </div>

  <div class="row"> <div class="col-md-12"> <div class="text-center"> <hr class="featurette-divider" /> </div> </div> </div>

  <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Voir les recommandations</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body" id="description">
          <div id="modalContent"></div>
        </div>
      </div>
    </div>
  </div>


</div><!-- staticPage -->
<script>
  chartwellLang = "fr";
  chartwellContext = "isItTime";
</script>
