<style>
  .personalizationPastHomes {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(top, #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=0 ); /* IE6-9 */
    min-height: 200px;
    padding: 10px 0px;
    display: block;
    position: relative;
  }

    .personalizationPastHomes .wrapPropPersItem {
      background-color: rgba(255,255,255,.9);
      margin-bottom: 8px;
      padding: 4px;
      border-radius: 4px;
      box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    }

    .personalizationPastHomes h4 {
      color: white;
      letter-spacing: 1px;
      margin-top: 4px;
    }

    .personalizationPastHomes .thumbnail {
      margin-bottom: 0px;
    }

    .personalizationPastHomes p {
      color: black;
      text-align: center;
      padding: 10px 0px 4px 0px;
      margin: 0px;
      line-height: 18px;
    }
</style>

<div class="container-fluid personalizationPastHomes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>Recently Viewed</h4>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-2">
        <div class="wrapPropPersItem"><img src="https://chartwell.com/-/media/images/photo-gallery/kamloops/kamloops_exterior_2.jpg" class="img-responsive" alt="thumb" /><p>Chartwell Kamloops Retirement Residence</p></div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2">
        <div class="wrapPropPersItem">
          <img src="https://chartwell.com/-/media/images/photo-gallery/Carrington-Place/Carrington_Place_Exterior_1.jpg" class="img-responsive" alt="thumb" /><p>Chartwell Carrington Place Retirement Residence</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2">
        <div class="wrapPropPersItem">
          <img src="https://chartwell.com/-/media/images/photo-gallery/Chatsworth/Chatsworth_Exterior_4.jpg" class="img-responsive" alt="thumb" /><p>Chartwell Chatsworth Senior Bungalows</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2">
        <div class="wrapPropPersItem">
          <img src="https://chartwell.com/-/media/images/photo-gallery/Chatsworth/Chatsworth_Exterior_2.jpg" class="img-responsive" alt="thumb" /><p>Chartwell Chatsworth Retirement Residence</p>
        </div>
      </div>
    </div><!-- / .row -->
  </div><!-- / .container -->
</div><!-- / .container-fluid .personalizationPastHomes -->