<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=(local);Initial Catalog=sc92sa_Core;User ID=coreuser;Password=!!Chart2014" />
  <add name="security" connectionString="Data Source=(local);Initial Catalog=sc92sa_Core;User ID=securityuser;Password=!!Chart2014" />
  <add name="master" connectionString="Data Source=(local);Initial Catalog=sc92sa_Master;User ID=masteruser;Password=!!Chart2014" />
  <add name="web" connectionString="Data Source=(local);Initial Catalog=sc92sa_Web;User ID=webuser;Password=!!Chart2014" />
  
  <add name="experienceforms" connectionString="Data Source=(local);Initial Catalog=sc92sa_ExperienceForms;User ID=formsuser;Password=!!Chart2014" />
  <add name="exm.master" connectionString="Data Source=(local);Initial Catalog=sc92sa_EXM.Master;User ID=exmmasteruser;Password=!!Chart2014" />
  
  <add name="messaging" connectionString="Data Source=10.10.0.7;Initial Catalog=cm_Messaging;User ID=messaginguser;Password=!!Chart2014" />
  <add name="xdb.marketingautomation" connectionString="Data Source=10.10.0.7;Initial Catalog=cm_MarketingAutomation;User ID=marketingautomationuser;Password=!!Chart2014" /> 
  <add name="xdb.processing.pools" connectionString="Data Source=10.10.0.7;Initial Catalog=cm_Processing.Pools;User ID=poolsuser;Password=!!Chart2014" />
  <add name="xdb.referencedata" connectionString="Data Source=10.10.0.7;Initial Catalog=cm_ReferenceData;User ID=referencedatauser;Password=!!Chart2014" />
  <add name="xdb.processing.tasks" connectionString="Data Source=10.10.0.7;Initial Catalog=cm_Processing.Tasks;User ID=tasksuser;Password=!!Chart2014" />  

  <add name="reporting" connectionString="Data Source=(local));Initial Catalog=cm92_Reporting;User ID=reportinguser;Password=!!Chart2014" />
  <add name="reporting.apikey" connectionString="abcde111112222233333444445555566" />

  <add name="sitecore.reporting.client" connectionString="https://cmxconnect.chartwell.com" />

  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  <add name="solr.search" connectionString="https://solr75:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="IBcdHZvF7apPD8Mgm65toDLfGGEA6le8nt7DS0I7XOOAb0yL8OC3TZj970LT0cFuqODPLWaz3fJozIISTLyS0PUrYhQKp6qUbmZF" />
  
  <add name="xconnect.collection" connectionString="https://cmxconnect.chartwell.com" />

  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  
  <add name="xdb.marketingautomation.operations.client" connectionString="https://cmxconnect.chartwell.com" />

  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://cmxconnect.chartwell.com" />

  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  
  <add name="xdb.referencedata.client" connectionString="https://cmxconnect.chartwell.com" />

  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x0701696384613886438704551951454714051902345429141778950884915208" />
  <add name="EXM.AuthenticationKey" connectionString="0x6708949843624667662236163389559169219122629097201006557823187683" />

  <add name="SiteSqlServer" connectionString="Data Source=10.10.0.7;Initial Catalog=dnn;User ID=sa;Password=!!Chart2014" providerName="System.Data.SqlClient" />
  <add name="ReviewsRatingsDB" connectionString="Data Source=10.10.0.7;Initial Catalog=ReviewsRating;User ID=sa;Password=!!Chart2014" providerName="System.Data.SqlClient" />
  <add name="SitecoreOLP" connectionString="Data Source=10.10.0.7;Initial Catalog=SitecoreOLP;User ID=sa;Password=!!Chart2014" providerName="System.Data.SqlClient" />

</connectionStrings>