@import "_variables.scss";

#mainBlock {
  padding: 1rem 2rem 2rem;

  @media screen and (max-width: $sm-BP) {
    padding: 1rem;
  }

  @media screen and (max-width: $xs-sm-BP) {
    padding: 1rem;
  }
}


.border-bottom {
  border-bottom: $standardBorder;
}

.suite-header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

#suitePlans, #prestigeSuitePlans, #specialSuitePlans {
  .suite-plan {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-bottom: 2rem;

    .suite-photo {
      order: 1;
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    .default-suite-content {
      order: 2;
      flex-basis: 100%;
      text-align: center;

      &:first-child {
        font-weight: bold;
      }

      &:empty {
        display: none;
      }
    }

    .btn-download-suite-plan {
      order: 5;
      margin: 1rem auto;
    }
  }
}

#NeighbourhoodDescriptionContainer {
  p:empty {
    display: none;
  }
  ul {
    margin-bottom: 0;
  }
}

.staticPage {
  #toolsgallery {
    padding: $standardUnit*6 $standardUnit*12;
    overflow: auto;

    div {
      overflow: hidden;
      height: 380px;
    }

    @media screen and (max-width: $sm-BP) {
      padding: $standardUnit*2 $standardUnit*3;

      div {
        height: 350px;

        a {
          height: 320px;
        }
      }
    }

    @media screen and (max-width: $xs-sm-BP) {
      padding: 0;

      div {
        height: 360px;

        a {
          height: 330px;
        }
      }
    }

    a {
      display: block;
      border-radius: $standardUnit/2;
      height: 350px;
      overflow: hidden;
      position: relative;
      margin-top: 20px;
      margin-bottom: 15px;
      position: relative;
      background-size: cover;
      box-shadow: $standardBoxShadow;
      transition: all .1s ease-in-out;
      background-position: 50% 50% !important;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6) {
        background-position: 50% 50% !important;
      }

      h3 {
        position: absolute;
        display: block;
        bottom: 0;
        margin: 0;
        padding: $standardUnit * 3 $standardUnit * 2;
        min-height: $standardUnit * 12;
        background-color: rgba($chartwellPrimary, 0.85);
        color: white;
        font-size: $standardUnit *2.5;
        width: 100%;
        text-align: center;
      }

      &:hover {
        margin-top: 15px;
        box-shadow: $highestBoxShadow;

        h3 {
          background-color: $chartwellPrimary;
          text-shadow: $standardBoxShadow;
        }
      }
    }
  }

  #wishOfALifetime {
    padding: $standardUnit*6 $standardUnit*12;
    overflow: auto;

    h2 {
      margin-top: 0;

      @media screen and (max-width: $sm-BP) {
        margin-top: 1rem;
      }
    }
  }

  #hpBlogArea {
    padding: $standardUnit*6 $standardUnit*12;
    overflow: auto;
    background-color: rgba($lightestGray,0.8);
  }

  @media screen and (max-width: $sm-BP) {
    #gallery, #wishOfALifetime, #hpBlogArea {
      padding: $standardUnit*4;
    }
  }

  @media screen and (max-width: $xs-sm-BP) {
    #gallery, #wishOfALifetime, #hpBlogArea {
      padding: $standardUnit*2;
    }
  }
}




.well {
  background-image: none;
  box-shadow: none;
  h4 {
    color: black;
  }
}

.singleColumn {
  .staticPage {
    //padding: $standardUnit*6 $standardUnit*12;
  }
}

.flexContainer {
  display: flex;
  flex-direction: row;

  .flexColumn {
    display: inline-flex;
    flex-basis: 100%;

    &.rightColumn {
      flex-basis: 320px;
    }
  }
}



//modal
.modal-backdrop { opacity: 0.5; }
.modal-header .close {
  padding: 0 1rem;
}

.modal.bs-example-modal-lg {
  .modal-dialog.modal-lg {
    .modal-header {
      button.close {
        position: absolute;
        right: 15px;
      }
    }
  }
}
//Questionnaires
.surveyRow h5 {
  line-height: 160%;
  color: #0078bf;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.surveyRow label {
  font-size: 14px;
  margin-right: 15px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.surveyRow label input {
  padding-left: 25px;
  margin-right: 5px;
}

.surveyRow .btn-default {
  background-color: #EFEFEF !important;
  color: #428bca !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.surveyRow .btn-default:hover {
  background-color: #ECECEC !important;
  border-color: #428bca;
  color: #428bca !important;
}

.progress, progress-bar-striped, .progress-striped .progress-bar {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.surveyRow {

  .bs-example {
    padding: $standardUnit;
    border-top-left-radius: $standardUnit/2;
    border-top-right-radius: $standardUnit/2;
    background-color: $lightestGray;
    box-shadow: none;
    border: $standardBorder;

    ol {
      margin: 0;

      li {
        font-weight: bold;
      }
    }
  }

  .listReport {
    border: $standardBorder;
    margin-bottom: 14px;
    padding: 9px 14px 9px 35px;
    border-bottom-right-radius: $standardUnit/2;
    border-bottom-left-radius: $standardUnit/2;
    border-top: none;
  }

  .progress {
    background-image: none;
    border: $standardBorder;
    background-color: $lightGray;
    height: $standardUnit*4;

    .progress-bar {
      line-height: $standardUnit*3.5;
      text-shadow:$lowerBoxShadow;

      &.progress-bar-striped {
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;

        &.active {
          animation: progress-bar-stripes 2s linear infinite;
          color: white;
        }
      }
    }
  }
}

.progress-bar-success {
  background-color: #5cb85c
}

.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-info {
  background-color: #5bc0de
}

.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-warning {
  background-color: #f0ad4e
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-danger {
  background-color: #d9534f
}

.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

surveyRow > div > div.progress > div.progress-bar {
  padding-top: 4px;
  font-weight: bold;
}


/* home page / newest residences block */

$newestResidenceCarouselHeightLG: 65vh;
$newestResidenceCarouselWidthLG: 85%;

.newestResidences {
  height: 350px;

  @media screen and (min-width: $lg-BP) {
    max-width: $newestResidenceCarouselWidthLG;
    height: $newestResidenceCarouselHeightLG;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover span.descriptionNewRes {
    background-color: rgba(141,19,96,0.8);
  }
}

.newestResidences div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $lg-BP) {
    background-size: cover;
    background-color: black;
  }
}

.newestResidences span.descriptionNewRes {
  background-color: rgba(141,19,96,0.6);
  display: block;
  width: 100%;
  min-height: 50px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 5px rgba(0,0,0,.6);


}

.descriptionNewRes > h3 {
  color: white;
  padding-left: 15px;
}

.descriptionNewRes > h3 > a {
  color: white;
}

.descriptionNewRes > h3 > a > .colorGold > .glyphicon-link {
  font-size: 16px;
}

.descriptionNewRes > p {
  color: white;
  padding-left: 15px;
}

.descriptionNewRes > p > a {
  color: white !important;
  padding-right: 15px;
}

.newestResidences-nav {
  height: 90px;
  margin-top: 0px;
  background-color: rgba(0,0,0,.05);

  @media screen and (min-width: $lg-BP) {
    height: 130px;
    max-width: $newestResidenceCarouselWidthLG;
    margin-left: auto;
    margin-right: auto;
  }
}

.newestResidences-nav div {
  background-size: cover;
  background-repeat: no-repeat;
}

.colorGold {
  color: gold;
  margin:0 10px;
}

.slick-prev {
  left: 20px !important;
  text-shadow: $standardBoxShadow;
}

.slick-next {
  right: 40px !important;
  text-shadow: $standardBoxShadow;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
}

.slick-dots {
  bottom: -50px !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 60px !important;
}

.newestResidences .slick-track > div {
  height: 350px;

  @media screen and (min-width: $lg-BP) {
    height: $newestResidenceCarouselHeightLG;
  }
}

.newestResidences-nav .slick-track > div {
  height: 90px;

  @media screen and (min-width: $lg-BP) {
    height: 150px;
  }
}

.descThumb {
  background-color: rgba(0,0,0,.75);
  display: block;
  min-height: 25px;
  bottom: 0px;
  position: absolute;
  font-size: .7em;
  color: white;
}

.slick-arrow {
  z-index: 99
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

table.suitesPlan {
  tr {
    td {
      a {
        font-weight: bold;
        margin: 5px 0;
        line-height: 2;

        .glyphicon {
          font-size: 25px;
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
}

.singleColumn .grid {
  width: 100%;

  .card {
    border: 0;
  }
}

.gallery-block {
  .container {
    width: 100% !important;
  }

  &.grid-gallery {

    .item {
      margin-bottom: 20px;

      a {
        display: block;
        overflow: hidden;

        img {
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          transition: 0.4s;
          opacity: 1;
          transition: 0.8s ease;
          width: 100%;
        }

        .description {
          display: none;
          position: absolute;
          bottom: 0;
          left: 15px;
          color: #fff;
          padding: 10px;
          font-size: 17px;
          line-height: 18px;
          width: calc(100% - 30px);
          padding-top: 15px;
          padding-bottom: 15px;
          padding: 15px;
          opacity: 1;
          color: #fff;
          transition: 0.8s ease;
          text-align: center;
          text-shadow: 0 0 5px rgba(0,0,0,0.85);
          background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39));

          .description-heading {
            font-size: 1em;
            font-weight: bold;
          }

          .description-body {
            font-size: 0.8em;
            margin-top: 10px;
            font-weight: 300;
          }
        }

        &:hover {
          background-color: black;

          img {
            opacity: 0.9;
          }

          .description {
            display: grid;
          }
        }
      }
    }
  }



  &.cards-gallery {
    h6 {
      font-size: 17px;
      font-weight: bold;
    }

    a {
      color: #212529;

      &:hover {
        text-decoration: none;
      }
    }

    .card {
      margin-bottom: 30px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      transition: 0.4s ease;

      .card-hero-img {
        width: 100%;
        position: relative;
        display: block;
        padding-top: 56.25%;
        background-size: cover;
        background-position: 50% 50%;

        .fa-youtube {
          position: absolute;
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          font-size: 40px;
          color: rgba(0,0,0,0.75);
        }
      }

      img {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      }

      .card-body {
        text-align: center;

        p {
          font-size: 15px;
        }
      }

      &:hover {
        .fa-youtube {
          color: red;
        }
      }
    }
  }

  @media (min-width: 576px) {
    &.grid-gallery .scale-on-hover:hover {
      a {
        background-color: black;

        img {
          transform: scale(1.25);
        }
      }
    }

    &.cards-gallery .transform-on-hover:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
  }
}

.tt-suggestion.tt-selectable:hover {
  background-color: rgba($chartwellPrimary, 0.1)
}

.datepicker {
  table {
    thead {
      tr {
        th {
          &.dow {
            text-transform: uppercase;
          }
        }
      }
    }

    tr {
      td {
        color: black;
        font-weight: 600;

        &.disabled {
          color: #999;
          font-weight: normal;
        }
      }
    }
  }
}


.fullWidth{
  width: 100%;
  display: block;
  padding: 0;
  margin: 0
}

.popover.bs-popover-bottom.show {
  opacity: 1;
  background-color: $mediumRed;

  .arrow {
    top: -18px;

    &:before {
      border-bottom-color: $mediumRed;
    }
  }

  .popover-body {
    color: white;
    font-weight: bold;
  }
}

#gallery {
  width: 100%;
  margin-bottom: 2rem;
}
#chips {
  margin-bottom: 1rem;

  .chip {
    background-color: $lightestGray;
    border-radius: 1rem;
    display: inline-block;
    padding: 0.25rem 2.5rem 0.25rem 1rem;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    border: 1px solid $lightGray;
    position: relative;
    cursor: pointer;
    text-decoration: line-through;
    color: $midGray;

    &:after {
      content: "\f057";
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      /*--adjust as necessary--*/
      color: $midGray;
      font-size: 18px;
      padding-right: 0.5em;
      position: absolute;
      right: 0;
      top: 0.15rem;
      display: block;
      text-decoration: none;
    }

    &:not(.selected):hover {
      color: $chartwellPrimary;
      background-color: white;
      text-decoration: none;

      &:after {
        text-decoration: none;
        color: $chartwellPrimary;
      }
    }

    &.selected {
      text-decoration: none;
      background-color: white;
      color: black;

      &:after {
        content: "\f058";
        color: $chartwellPrimary;
      }
    }

    &.reset {
      text-decoration: none;
      background-color: $chartwellPrimary;
      color: white;

      &:hover {
        color: white;
        background-color: $chartwellSecondary;
      }

      &:after, &:hover:after {
        content: "\f057";
        color: white;
      }
    }
  }
}
@media screen and (min-width: 767px) {
  #FindAResidenceDiv.jumbotron {
    padding: 30px 40px;

    #searchLabel {
        p {
            text-align: center;
        }
    }
  }
}
