@import "_variables.scss";

header {

}

.logoEn {
  img {
    max-width: 140px;
  }

  @media (min-width: $xs-sm-BP+1) {
    img {
      margin: $standardUnit 0;
      width: 140px;
    }
  }

  @media (max-width: $xs-sm-BP) {
    img {
      margin: $standardUnit auto;
      width: 40%;
    }
  }
}

@media (max-width: $xs-sm-BP) {
  .logoEn {
    text-align: center;
    width: 100%;
    display: block;
  }
}



/*#nearResidenceId.nearestResidencesTopRight {
  margin: $standardUnit*4 0px $standardUnit*2 auto;
  font-size: $rootFontSize*.975;
  display: inline-block;
  min-width: 40%;
  text-align: center;
  margin: $standardUnit*2 0px $standardUnit*2 auto;
  padding-left: 30px;
  padding-right: $standardUnit;
  background-image: url('/Assets/images/closest-residence.svg');
  background-repeat: no-repeat;
  background-size: auto 30px;
  color: $midGray;

  &.empty {
    background-image: none;
    #locDiv {
      display: none;
    }
  }

  a {
    font-weight: bold;
  }
}
*/
/* language bar --------------------------- */
.topBarLangCarrInvest {
  font-size: $rootfontSizeRem * 0.95;
  display: inline-block;
  float: right;

  .tabCareers, .tabInvest {
    display: inline-block;
    padding: $standardUnit/2 $standardUnit $standardUnit/2 $standardUnit*2;
  }

  a:not(#lnkEnglish), a:not(#lnkFrench) {
    color: black;
    padding-left: $standardUnit;
    border-left: $standardBorder;
    font-size: $rootFontSize;
  }

  a:first-child {
    border-left: 0;
  }

  .languageToggle {
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: $standardUnit * 4;

    span {
      display: none;
    }

    .langOption, #lnkEnglish, #lnkFrench {
      font-size: $rootFontSize;
      text-transform: uppercase;
      padding: $standardUnit/2 $standardUnit !important;
      border: $standardBorder;
      border-radius: $standardUnit/2;
      color: $midGray;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
      cursor: pointer;
      text-decoration: none;

      @media screen and (max-width: $xs-sm-BP+1) {
        font-size: 12px;
        padding: $standardUnit/3 $standardUnit/2 !important;
      }
    }

    #lnkFrench {
      margin-left: 0;
      border-radius: $standardUnit/2;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-right-width: 1px;
    }

    #lnkFrench, #lnkEnglish {
      color: $darkestGray;
    }

    &.en .langOption.en,
    &.fr .langOption.fr,
    &.en #lnkEnglish,
    &.fr #lnkFrench {
      color: black;
      box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
      background-color: $lightestGray;
    }
  }

  @media screen and (max-width: $xs-sm-BP) {
    .tabCareers, .tabInvest {
      margin-bottom: 1px;
    }

    #lnkEnglish, #lnkFrench {
      margin-bottom: 4px;
    }
  }
}



@media screen and (max-width: $xs-sm-BP) {
  .tabCareers, .tabInvest {
    margin-bottom: 1px;
  }

  #lnkEnglish, #lnkFrench {
    margin-bottom: 4px;
  }
}


//override for the typeahead
.ui-menu {
  box-shadow: $standardBoxShadow;
  .ui-menu-item-wrapper {
    padding: 0 $standardUnit*2;
    font-size: $rootfontSizeRem;
  }
}


