@import "_variables.scss";

/* Open House Top Banner -------------------------------------------------------- */
#OpenHousePromo.top-banner {
  font-family: $headingFontStack;
  display: block;
  background-color: rgba( $chartwellSecondary, 0.95);
  color: white;
  box-shadow: $standardBoxShadow;
  width: 100%;
  z-index: 9999;
  height: 60px;
  box-shadow: $lowerBoxShadow;

  img.promoImg {
    height: 60px;
  }

  &.animated {
    opacity: 1;
    display: block;
    animation-delay: .5s;
  }

  .content {
    padding: 0 20px;

    h2  {
      font-weight: bold;
      padding: 0;
      color: white;
      font-size: 24px;
    }

    h4 {
      margin-top: $standardUnit !important;
      font-size: $rootfontSizeRem * 1.25;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }

      strong {
        display: inline-block;
      }

      small {
        display: block;
        color: white;
        font-family: $primaryFontStack;
        margin-top: $rootfontSizeRem/2;
      }
    }

    @media screen and (max-width: $sm-BP) {
    }

    @media screen and (max-width: $xs-sm-BP) {
      h4 {
        margin-top: $standardUnit/2;
        font-size: $rootfontSizeRem;
        margin-bottom: 0;

        strong {
          font-size: $rootfontSizeRem;
        }

        small {
          margin-top: 0.25rem;
        }
      }
    }
  }

  .close-btn {
    display: inline-block;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    float: right;

    .fa-times {
      font-size: 25px;
    }
  }

  @media screen and (max-width: $xs-sm-BP) {
    .content {
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: $xs-sm-BP) {
  #OpenHousePromo.top-banner {
    height: 80px;
    box-shadow: none;

    img.promoImg {
      margin-top: 5px;
      height: 70px;
    }
  }


  .content {
    padding: 0 5px;
  }

  .top-banner {
    height: 65px;
  }
}


@media screen and (max-width: 320px) {
  #OpenHousePromo.top-banner {
    height: 80px;
    box-shadow: none;

    img.promoImg {
      margin-top: 10px;
      height: 60px;
    }

    .content {
      h4 {
        strong {
          font-size: 0.925rem;
        }
      }
    }
  }
}

/*-- Promo Banner  --------------------------------------- */

.bannerBlue {
  margin: 10px 5px 25px 15px;
  text-align: center;
  color: #666;
  clear: both;
}

.bannerBlue .row {
  border: 1px solid #cfe9f6;
  margin-right: 0px;
}

.bannerBlue .col-sm-2 img {
  margin: 0 auto;
  display: block;
  height: 50px;
  opacity: .5;
}

.bannerBlue .row .col-sm-10 {
  background-color: #cfe9f6;
  background-image: url(/Assets/Images/Layout/banner-bg-blue-7.png);
}

.bannerBlue .row .col-sm-10 h3 {
  color: #666 !important;
  line-height: 1.6em;
  margin-top: 8px;
}

.bannerBlue .row .col-sm-10 h3 small {
  color: #666 !important;
}


#FeatureComparisonChart {
  table.comparison-table {
    width: 100%;
    margin-top: 2rem;

    thead {
      tr:first-child {
        td {
          vertical-align:bottom;
          img {
            width: 60%;
            margin: 0 auto;
            margin-bottom: -5px;
          }
          overflow: hidden;
        }
      }
      th.table-title {
        background-color: $chartwellSecondary;
        color: white;
        text-transform: uppercase;
        padding: 0.5rem;
      }
    }

    tbody {
      tr {
        td {
          padding: 1rem;

          i.fas {
            font-size: 3rem;

            &.fa-times-circle {
              color: $midGray;
            }

            &.fa-check-circle {
              color: $chartwellGreen;
            }
          }

          &:nth-child(odd) {
            border-left: 1px solid white;
            border-right: 1px solid white;
          }
        }

        &:nth-child(odd) td {
          background-color: rgba($chartwellPrimary,0.15);
        }
      }
    }
  }
}


#SiteWideModal {
  &.warn {
    .modal-header {
      background-color: $mediumRed;

      h5 {
        color: white;
        text-transform: uppercase;
      }

      .close {
        color: white;
        opacity: 0.6
      }
    }
  }
}