<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- Service endpoint URLs -->
  <add name="xconnect.collection" connectionString="https://cmxconnect.chartwell.com" />  
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9AD3F9076F3273BC7B56A9B57E3878B70FB7350A" />
  <!-- Database connection strings -->
  <add name="xdb.marketingautomation" connectionString="user id=marketingautomationuser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_MarketingAutomation" />

  <add name="xdb.referencedata" connectionString="user id=referencedatauser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_ReferenceData" />

  <add name="messaging" connectionString="user id=messaginguser;password=!!Chart2014;data source=10.10.0.7;Initial Catalog=cm_Messaging" />
</connectionStrings>